<h1 class="text-center font-weight-bolder m-4" id="main">Your shows and notes</h1>
    <!--<ul>
        {{#each obj}}
        <li> 
            <p>ID : {{episode.id}}</p>
            <p> show name: {{episode.show_name}}</p>
            <p> episode name : {{episode.episode_name}}</p>
            <p>  watched  : {{episode.watched}}</p>

        {{/each}}
        </ul>-->
<div class="container row ml-4">
    <div class="container col-4 border border-dark">
<div class="card">
  <h5 class="card-header text-center">Waiting to Watch</h5>
  <div class="card-body">
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>
</div>

</div>
<div class="container col-4 border border-dark">
    <h1 class="text-center ml-5 mr-5">Edit your text</h1>
    <div class="container border border-dark rounded-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quo corporis doloremque dolorem ea aperiam. Nesciunt aperiam animi quidem explicabo, odio natus ipsa distinctio numquam, fugit ducimus eaque et necessitatibus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nesciunt fugiat at fugit consequatur dicta facere soluta et est tenetur, saepe atque id odit minima sequi ipsam totam voluptas illo?
        </div>
    </div>
    <div class="container col-4 border border-dark">
        <div class="card">
  <h5 class="card-header text-center">Watched Shows</h5>
  <div class="card-body">
      <div class="card">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  </div>
</div>

    
        </div>
</div>





